@page "{id}"
@model RideService.Pages.Rides.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ride.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ride.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ride.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ride.Description)
            </th>
            <th>
                Total breakdowns
            </th>
            <th>
                Days since last breakdown
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Ride.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Ride.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Ride.Status)
            </td>
            <td>
                @Html.DisplayFor(model => model.Ride.Description)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalBreakdowns)
            </td>
            <td>
                @Html.DisplayFor(model => model.DaysSinceLastBreakdown)
            </td>
            <td>
                <a asp-page="/Reports/Index" asp-route-id="@Model.Ride.Id">Reports</a> |
            </td>
        </tr>
    </tbody>
</table>