@page
@model RideService.Pages.Rides.IndexModel
@using RideService.Models
@{
    ViewData["Title"] = "Rides";
}

<h1>Rides</h1>
<a asp-page="./Create">Create new</a> |
<form>
    <div class="form-group col-md-5">
        <label>Search Rides</label><br />
        <input class="form-control" asp-for="SearchName" /><br />
        <label>Status</label><br />
        <select class="form-control" asp-for="SearchStatus" asp-items="Html.GetEnumSelectList<Status>()">
            <option value="-1">Alle</option>
        </select><br />
        <label>Category</label><br />
        <select class="form-control" asp-for="SearchCategoryId" asp-items="@Model.CategoryIds">
            <option value="-1">Alle</option>
        </select><br />
        <input class="btn btn-primary" type="submit" value="Search" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rides[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rides[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rides[0].Description)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rides)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>

                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |

                </td>
            </tr>
        }
    </tbody>
</table>